<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chile's Mailer</title>
    <style>
      img {
        width: 100%;
        height: fit-content;
        margin: 2rem auto;
      }
      ul .pad {
        padding-left: 15px;
        margin: 1rem auto;
      }
      .pad li{
        display: grid;
        grid-template-columns: 50px 1fr;
        gap: 1rem;
        
      }

      code{
        background-color: gainsboro;
        padding: 2px;
      }
      li{
        margin-bottom: 10px;
      }
     
      footer{
        margin: 2rem auto;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Chile's Mailer</h1>
    <p>
      This Node js free API will help you easily send email from your frontend. The Node package responsible for sending the emails is Nodemailer
    </p>

    <ul>
      <h3>How to Use</h3>
      <li id="copy" ><b>URL</b>: <code id="myInput" >http://localhost:5000/api/sendMail/email</code></li>
      <li>Request type: <b>post</b></li>
      <li>
        Provide the following Data: <br />
        <ul class="pad">
          <li><b>from:</b> <span>The senders email</span></li>
          <li><b>to:</b> <span>The receivers email</span></li>
          <li><b>subject:</b> <span>The email subject or title</span></li>
          <li>
            <b>html:</b> <span>The content of the email in plain text or in html format</span>
          </li>
        </ul>
      </li>
      <li>Use can use the image below as a guide</li>
    </ul>
    <img loading="lazy" src="mailer.jpg" alt="sample" />

    <footer>
        &copy; Chile's Mailer, <%=date %>
    </footer>
  </body>
</html>
